<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Learning AngularJS</title>

	 <!-- JS -->
	 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js" type="text/javascript"></script>
	 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-sanitize.js" type="text/javascript"></script>
	 <script src="js/app.js" type="text/javascript"></script>
	 <script src="js/maincontroller.js" type="text/javascript"></script>
	 <script src="js/filters.js" type="text/javascript"></script>

	<!-- CSS -->
    <link rel="stylesheet" href="../../bower_components/foundation/css/foundation.css" />
	<link rel="stylesheet" href="css/sumup.css">
    <script src="../../bower_components/foundation/js/modernizr.js"></script>

 </head>
 <body>
	<div class="row" id="feed" ng-app="TwitterFeed" ng-controller="TweetController">
		<div class="row header">
			<div class="large-12">
				<img src="images/sumup_logo.png">
				<h1><a href="#">#sumup</a> on Twitter</h1>
				<input type="text" ng-model="searchText" placeholder="Filter Tweets">
			</div>
		</div>

		<div ng-repeat="tweet in tweets | filter:searchText" class="tweet row">
			<div class="twitter-status large-12 medium-12 columns">
				<img src="{{ tweet.user_profile_image }}">
				<a href="#">{{ tweet.name }} <small>@{{ tweet.user }}</small></a>
				<p>{{ tweet | parseTweet }}</p>
			</div>
		</div>
	</div>
 </body>
 </html>
